body {
  background-color: #78797c;
  color: rgb(41, 37, 37);
}

.container {
  display: flex;
  max-width: 400px;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 2rem;
  padding: 50px 10px;
  width: 0 auto;
}

.form-container {
}

